.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.logo  {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 250px;
    
}

.link {
    margin-right: 250px;
}

.link-item {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 15px;
    margin-right: 15px;
}
.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    height: auto;
    width: auto;
    padding-bottom: 100px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 25px;
    font-size: 24px;
    color: #F9FAF8;
}
.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}

.img {
    margin: 0px 250px 0px 25px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heading {
    padding: 50px 0px 0px 0px;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}

figure img {
    border: 3px solid #3882F6;
    border-radius: 5%;
    width: 200px;
    height: auto;
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 75px 0px 75px 0px;
}

.footer_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    width: 1000px;
    height: 170px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer_button{
    border: 2px white solid;
}

